extends layout2
block content
  section.container.jinx.p-5.mb-5
      h2.text-center.text-light
        | Band&apos;s Registration form
      form#form-id(name='bandRegistrationForm' method='POST' action='/bandinfo/bandreg')
        .row.mt-5.text-light
          .col-lg-4.border-end.p-5
            .form-action
              label#bandname(for='') Band Name
              br
              input#band-name.form-control.mb-3(type='text' placeholder='Input Band Name' name='bandname')
            small#band__name__error.error
            .form-action
              label#bandowner(for='') Band Owner
              br
              input#band-owner.form-control.mb-3(type='text' placeholder="Input the Band owner's name" name='bandowner')
            small#band__owner__error.error
            .form-action
              label#bandhome(for='') Band Home
              br
              input#band-home.form-control.mb-3(type='text' placeholder='Input Band Home' name='bandhome')
            small#band__home__error.error
            .form-action
              label#bandmembers(for='') Number of Members
              br
              input#band-numbers.form-control.mb-3(type='number' placeholder='Input number of band members' name='bandnumberofmembers')
            small#band__Number__of__members__error.error
            .form-action
              label#bandslogan(for='') Band Slogan
              br
              input#band-slogan.form-control.mb-3(type='text' placeholder='Input band slogan' name='bandslogan')
            small#band__slogan__error.error
            .form-action
              label#Band-ID(for='') Band ID
              br
              input#band-id.form-control.mb-3(type='text' name='bandid' placeholder='Input Band ID')
            small#band__id__error.error
            .form-action
              label#password(for='') Password
              br
              input#userpassword.form-control(type='password' placeholder = "Create Password"  name='password')
            small#passworderror.error
            
          .col-lg-4.border-end.p-5
            .form-action
              label#date-of-formation(for='') Date of Formation
              br
              input#date-of-formation.form-control.mb-3(type='date' name='dateofformation')
            small#date__of__formation__error.error
            .form-action
              label#telcontact(for='') Telephone Contact
              br
              input#telephonecontact.form-control.mb-3(type='text' placeholder='Input Band  Phone number' name='telephonecontact')
            small#telephone__contact__error.error
            .form-action
              label#contact(for='') Email 
              br
              input#email-contact.form-control.mb-3(type='text' placeholder='Input Band email' name='email')
            small#band__email__error.error
            .form-action
              label#band-crowns(for='') Band Crowns
              br
              input#band-crowns.form-control.mb-3(type='text' placeholder='Input Band Crowns' name='bandcrowns')
            small#band__crowns__error.error
            .form-action
              label#userrole(for='') Role
              br
              select#roles.form-control.mb-3(name="role")
                option(value="default") Select a role 
                option(value="band") Band
            small#roles-error.error 
            .form-action
              label#albums(for='') Number of Albums
              br
              input#band-albums.form-control.mb-3(type='number' name='bandalbums')
            small#band__albums__error.error
            .form-action
              label#genre(for='')  Genre 
              br
              input#band-genre.form-control.mb-3(type='text' placeholder='Input Band Genre ' name='genre')
            small#genre__error.error
          .col-lg-4.p-5
            .form-action
              label#numofsongs(for='') Number of Songs
              br
              input#numofsongs.form-control.mb-3(type='number' name='bandnumberofsongs')
            small#band__number__of__songs__error.error
            .form-action
              label#band-icon(for='')  Band Icon 
              br
              input#Band-icon.form-control.mb-3(type='file' name='bandicon')
            small#band__icon__error.error
            .form-action.mb-3
              label#profile-pic(for='')  Profile Picture 
              br
              input#profile-photo.form-control(type='file' name='profilepicture')
            small#profile__picture__error.error
            .form-action
              label#otherowners(for='')  Other band owners(if any)
              br
              textarea#otherbandowners.form-control.mb-3(name='otherbandowners' placeholder='Enter Other band Owners' cols='30' rows='3')
            small#other__band__owners__error.error
            .form-action
              label#sponsors(for='') Band Sponsors(if any)
              br
              textarea#band-sponsors.form-control.mb-3(name='bandsponsors' placeholder='Enter Band Sponsors' cols='30' rows='3')
            small#band__sponsor__error.error
            #button-form
              input#submit-btn.mb-3(type='submit' name='submit-button' value='SUBMIT')
              input#cancel-btn(type='reset' name='cancel-button' value='CANCEL')
script(src='/javascript/bandRegistration.js')

