extends layout 
block content
  section.p-5.jinx
    .container
      h2.text-center.heading Music Bands
      p.lead.text-center.text-white.mb-5
        | Bands from the pearl
      .row.text-center.g-4
        if bands.length 
        each band in bands
          .col-md-6.col-lg-3
            .card.special__card.text-light
              .card-body.text-center
                a(href='/bandinfo/band/'+band.bandname)
                  img.img-fluid.mb-3(src='/'+band.profilepicture alt='Band profile')
              
        
