<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src=""></script>
    <link rel="stylesheet" href="style.css" />
    <title>Bands</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark jinx py-3 fixed-top">
    <div class="container">
      <a href="/bands" class="navbar-brand " id="navbar__logo">UGAAMUX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a href="/Solo__artists" class="nav-link text-warning">Solo Artists</a>
          </li>
          <li class="nav-item">
            <a href="/Music__bands" class="nav-link text-warning">Music Bands</a>
          </li>
          <li class="nav-item">
            <a href="/Performing__artists" class="nav-link text-warning">Others</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="p-5 jinx">
    <div class="container" id="Music__bands">
      <h2 class="text-center heading">Music Bands</h2>
      <p class="lead text-center text-white mb-5">
        Music bands from the pearl
      </p>
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card special__card text-light">
            <div class="card-body text-center">
              <a href="janzi">
              <img
              src="img/janzi.png"
              class="img-fluid mb-3"
              alt=""
            /></a>
            <h3 class="card-title mb-3">Janzi Band</h3>
              
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card special__card text-light">
            <div class="card-body text-center">
              <a href="ivunga.html">
              <img
              src="img/ivunga.png"
              class="img-fluid mb-3"
              alt=""
            /></a>
            <h3 class="card-title mb-3">Ivunga Band</h3>
              
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card special__card text-light">
            <div class="card-body text-center">
              <a href="afrigo">
              <img
              src="img/afrigo.png"
              class="img-fluid mb-3"
              alt=""
            /></a>
            <h3 class="card-title mb-3">Afrigo Band</h3>
              
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card special__card text-light">
            <div class="card-body text-center">
              <a href="qwela.html">
              <img
              src="img/Qwela.png"
              class="img-fluid mb-3"
              alt=""
            /></a>
            <h3 class="card-title mb-3">Qwela Band</h3>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <footer class="p-5  text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Ugaamux</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
    </div>
  </footer>

  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
 
  </script>
  
</body>
</html>