<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>REGISTRATION FORM</title>
    <style></style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark jinx card py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand" id="navbar__logo">UGAAMUX</a>
      </div>
    </nav>

    <!-- form -->
    <div
      class="
        row
        p-s
        pt-5
        p-lg-0
        pt-lg-5
        align-items-center
        text-light
        jinx
        align-items-center
      "
    >
      <div class="col-md jinx text-light">
        <div class="container border mb-0 align-items-center">
          <h2 class="text-center mt-3 navbar__logo">
            Band's Registration form
          </h2>
          <form
            name="bandRegistrationForm"
            id="form-id"
            method="post"
            action="/bands__reg__form"
          >
            <div class="row mt-5 text-light">
              <div class="col-lg-4 border-end p-5">
                <div class="form-action">
                  <label for="" id="bandname">Band Name</label><br />
                  <input
                    type="text"
                    placeholder="Input Band Name"
                    name="bandName"
                    id="band-name"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__name__error"></small>

                <div class="form-action text-dark">
                  <label for="" id="bandowner">Band Owner</label><br />
                  <input
                    type="text"
                    placeholder="Input the Band owner's name"
                    name="bandOwner"
                    id="band-owner"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__owner__error"></small>

                <div class="form-action">
                  <label for="" id="bandhome">Band Home</label><br />
                  <input
                    type="text"
                    placeholder="Input Band Home"
                    name="bandHome"
                    id="band-home"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__home__error"></small>

                <div class="form-action">
                  <label for="" id="bandmembers">Number of Members</label><br />
                  <input
                    type="number"
                    placeholder="Input number of band members"
                    name="bandNumberOfMembers"
                    id="band-numbers"
                    class="form-control mb-3"
                  />
                </div>
                <small
                  class="error"
                  id="band__Number__of__members__error"
                ></small>

                <div class="form-action">
                  <label for="" id="bandslogan">Band Slogan</label><br />
                  <input
                    type="text"
                    placeholder="Input band slogan"
                    name="bandSlogan"
                    id="band-slogan"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__slogan__error"></small>

                <div class="form-action">
                  <label for="" id="Band-ID">Band ID</label><br />
                  <input
                    type="text"
                    name="bandId"
                    placeholder="Input Band ID"
                    id="band-id"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__id__error"></small>

                <div class="form-action">
                  <label for="" id="numofsongs">Number of Songs</label><br />
                  <input
                    type="number"
                    id="numofsongs"
                    name="bandNumberOfSongs"
                    class="form-control mb-3"
                  />
                </div>
                <small
                  class="error"
                  id="band__number__of__songs__error"
                ></small>
              </div>

              <div class="col-lg-4 border-end p-5">
                <div class="form-action">
                  <label for="" id="date-of-formation">Date of Formation</label
                  ><br />
                  <input
                    type="date"
                    name="dateOfFormation"
                    id="date-of-formation"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="date__of__formation__error"></small>

                <div class="form-action">
                  <label for="" id="telcontact">Telephone Contact</label><br />
                  <input
                    type="text"
                    placeholder="Input Band  Phone number"
                    name="telephoneContact"
                    id="telephonecontact"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="telephone__contact__error"></small>

                <div class="form-action">
                  <label for="" id="twitterhandle">Twitter Handle</label><br />
                  <input
                    type="text"
                    placeholder="Input band twitter handle"
                    name="twitterHandle"
                    id="twitterontact"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="twitter__handle__error"></small>

                <div class="form-action">
                  <label for="" id="contact">Email </label><br />
                  <input
                    type="text"
                    placeholder="Input Band email"
                    name="bandEmail"
                    id="email-contact"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__email__error"></small>

                <div class="form-action">
                  <label for="" id="band-crowns">Band Crowns</label><br />
                  <input
                    type="text"
                    placeholder="Input Band Crowns"
                    name="bandCrowns"
                    id="band-crowns"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__crowns__error"></small>

                <div class="form-action">
                  <label for="" id="albums">Number of Albums</label><br />
                  <input
                    type="number"
                    name="albums"
                    id="band-albums"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__albums__error"></small>

                <div class="form-action">
                  <label for="" id="genre"> Genre </label><br />
                  <input
                    type="text"
                    placeholder="Input Band Genre "
                    name="genre"
                    id="band-genre"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="genre__error"></small>
              </div>
              <div class="col-lg-4 p-5">
                <div class="form-action">
                  <label for="" id="band-icon"> Band Icon </label><br />
                  <input
                    type="file"
                    name="band__icon"
                    id="Band-icon"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="band__icon__error"></small>
                <div class="form-action mb-3">
                  <label for="" id="profile-pic"> Profile Picture </label><br />
                  <input
                    type="file"
                    name="profilePicture"
                    id="profile-photo"
                    class="form-control"
                  />
                </div>
                <small
                  class="error"
                  id="profile__picture__error"
                  class="form-control"
                ></small>
                <div class="form-action">
                  <label for="" id="otherowners"> Other band owners </label
                  ><br />
                  <textarea
                    name="otherBandOwners"
                    placeholder="Enter Other band Owners"
                    id="otherbandowners"
                    cols="30"
                    rows="10"
                    class="form-control"
                  ></textarea>
                </div>
                <small class="error" id="other__band__owners__error"></small>

                <div class="form-action">
                  <label for="" id="sponsors">Band Sponsors</label><br />
                  <textarea
                    name="bandSponsors"
                    placeholder="Enter Band Sponsors"
                    id="band-sponsors"
                    cols="30"
                    rows="10"
                    class="form-control mb-3"
                  ></textarea>
                </div>
                <small class="error" id="band__sponsor__error"></small>

                <div id="button-form">
                  <input
                    id="submit-btn"
                    type="submit"
                    name="submit-button"
                    value="SUBMIT"
                  />
                  <input
                    id="cancel-btn"
                    type="reset"
                    name="cancel-button"
                    value="CANCEL"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/javascript/bandRegistration.js"></script>
  </body>
  <footer class="p-5 jinx text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Ugaamux</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
    </div>
  </footer>
</html>
