extends layout2
block content 
  .container
     img.p-5(src="/public/img/Dashboard.png", alt="", style="width: 100%; height: 55%; display:flex; justify-content:center; align-items:center;")
                      
             
              
            