doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')
  script(src='')
  link(rel='stylesheet' href='style.css')
  title gwaro
nav.navbar.navbar-expand-lg.bg-dark.jinx.py-3.fixed-top
  .container
    a#navbar__logo.navbar-brand(href='#') UGAAMUX
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
      span.navbar-toggler-icon
    #navmenu.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.text-warning(href='#Solo__artists') Solo Artists
        li.nav-item
          a.nav-link.text-warning(href='#Music__bands') Music Bands
        li.nav-item
          a.nav-link.text-warning(href='#Other__artists') Others
section.jinx.text-light.p-5.p-lg-0.pt-lg-5.mt-5.mb-5.text-center.text-sm-start
  .container
    .d-sm-flex.align-items-center.justify-content-between
      div
        h1
          span.text-warning  Anthony Gwaro
        p.lead.my-4
          | I am an award-winning Kenyan filmmaker based in Kampala, Uganda. 12 years ago, I started my career as a TV producer at a local television station. After experimenting with a variety of genres in my 5-year tenure, I began to develop a fondness for documentaries.
          | After my stint on television, I started working as a freelance producer where I collaborated with other filmmakers as a cinematographer and video editor. Working as a freelancer presented a sense of creative freedom. The red-tapes associated with television studios were eliminated. I had a chance to &ldquo;do what I wanted&rdquo;. This freedom allowed me to experiment more as I perfected my craft and delved further into the technicalities of production with the aid of online resources and other filmmakers in the trade.
          | 7 years ago, I co-founded a start-up video production house in Kampala known as Framez and Wavez. My vision is to work with other Ugandan and African filmmakers in creating and curating multimedia content that will help shape Uganda and the East Africa region by telling inspiring stories that steer clear of the &ldquo;dark-continent&rdquo; narrative that has become commonplace whenever Africa is under the spotlight. I hope to preserve the African culture, stories, and resilience through these multimedia productions that will be kept for posterity.
      img.img-fluid.w-50.mb-5.d-none.d-sm-block(src='img/gwaro.png' alt='')
