extends layout
block content
    section.jinx.text-light.p-5.p-lg-0.pt-lg-5.text-center.text-sm-start
      .container
        .d-sm-flex.align-items-center.justify-content-between
          div
            h1.text-center
              | The National Cultural center &amp; Uganda Performing arts association  
              span.text-warning  from the pearl 
            p.lead.my-4.text-center
              | Ugaamux is an archive which focuses on music artists, bands and performing artists.
          img.img-fluid.w-50.mb-5.d-none.d-sm-block(src='img/people.png' alt='')
    