doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')
  script(src='')
  link(rel='stylesheet' href='style.css')
  title Janzi Band
nav.navbar.navbar-expand-lg.bg-dark.jinx.py-3.fixed-top
  .container
    a#navbar__logo.navbar-brand(href='#') UGAAMUX
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
      span.navbar-toggler-icon
    #navmenu.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.text-warning(href='#Solo__artists') Solo Artists
        li.nav-item
          a.nav-link.text-warning(href='#Music__bands') Music Bands
        li.nav-item
          a.nav-link.text-warning(href='#Other__artists') Others
section.jinx.text-light.p-5.p-lg-0.pt-lg-5.mt-5.mb-5.text-center.text-sm-start
  .container
    .d-sm-flex.align-items-center.justify-content-between
      div
        h1
          span.text-warning  Janzi Band 
        p.lead.my-4
          | Janzi Band is the new voice of Ugandan music, the inspired synthesis of African roots and world music, of traditional and modern instrumentation. Janzi has quickly expanded since its formation in 2009 and now comprises of 8 members. Their world music style is based on a contemporary fusion of African styles and instruments with those from the rest of the world.
          | These musicians represent the new vanguard of Ugandan performers, gifted instrumentalists steeped in the music of their homeland, but with ears opened to the sounds of the world at large. Janzis Album Eka (Home) was released in 2009 with a great success and the band is now planning for their second Album. They launch their music as all-acoustic, all-traditional ensemble and as an electric Afro-beat fusion band for festivals, weddings and concerts.
      img.img-fluid.w-50.mb-5.d-none.d-sm-block(src='img/janzii.png' alt='')
    h1.text-center
      span.text-warning.text-center Top songs 
    iframe.pt-0(title='deezer-widget' src='https://widget.deezer.com/widget/dark/artist/66293652/top_tracks' width='100%' height='300' frameborder='0' allowtransparency='true' allow='encrypted-media; clipboard-write')
