extends layout 
block content
  section.mt-5.jinx
    .row.d-flex.justify-content-center
      .col-5
        form.d-flex(method='post' action='/labelinfo/labels')
            input.form-control.mb-2(type= 'search' placeholder='Search for an label' aria-label='Search' name='labelname')
            button.btn(type='search', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;')
              | Search
    .container.mb-5.pb-5
      h2.text-center.heading Music labels
      .row.text-center.g-4
        if labels.length 
        each label in labels
          .col-md-6.col-lg-3.mb-5
            .card.special__card.text-light
              .card-body.text-center
                a(href='/labelinfo/label/'+label.labelname)
                  img.img-fluid.mb-3(src='/'+label.profilepicture alt='label profile')
                p.text-light #{label.labelname}  
              
        
