extends layout 
block content
  body
    .row.m-5.p-0.p-lg-0.align-items-center.text-light.jinx
      .col-md.p-5.text-light
        .container.jinx.align-items-center
          h2.text-center.mt-0.text-light
            | Label&apos;s Registration form
          form#form-id(name='labelRegistrationForm' method='POST' action='/labelinfo/labelreg'  enctype="multipart/form-data")
            .row.mt-5.text-light
              .col-lg-6.border-end.p-5
                .form-action
                  label#labelname(for='') Label Name
                  br
                  input#label-name.form-control.mb-3(type='text' placeholder='Input label Name' name='labelname')
                small#label__name__error.error
                .form-action
                  label#labelowner(for='') Label Owner
                  br
                  input#label-owner.form-control.mb-3(type='text' placeholder="Input the label owner's name" name='labelowner')
                small#label__owner__error.error
                .form-action
                  label#labelhome(for='') Label Home
                  br
                  input#label-home.form-control.mb-3(type='text' placeholder='Input label Home' name='labelhome')
                small#label__home__error.error
                .form-action
                  label#labelmembers(for='') Number of Members
                  br
                  input#label-numbers.form-control.mb-3(type='number' placeholder='Input number of label members' name='labelnumberofmembers')
                small#label__Number__of__members__error.error
                .form-action
                  label#date-of-formation(for='') Date of Formation
                  br
                  input#date-of-formation.form-control.mb-3(type='date' name='dateofformation')
                small#date__of__formation__error.error
                .form-action
                  label#password(for='') Password
                  br
                  input#userpassword.form-control.mb-3(type='password' placeholder = "Create Password"  name='password')
                small#passworderror.error
                .form-action
                  label#contact(for='') Email 
                  br
                  input#email-contact.form-control.mb-3(type='text' placeholder='Input Band email' name='email')
                small#email__error.error
                
              
              
                
              .col-lg-6.p-5
                .form-action
                  label#userrole(for='') Role
                  br
                  select#roles.form-control.mb-3(name="role")
                    option(value="default") Select a role 
                    option(value="label") Label
                small#roles-error.error 
                .form-action.mb-3
                  label#profile-pic(for='')  Profile Picture 
                  br
                  input#profile-photo.form-control(type='file' name='profilepicture')
                small#profile__picture__error.error
                .form-action
                  label#label-icon(for='')  Label Icon 
                  br
                  input#Band-icon.form-control.mb-3(type='file' name='labelicon')
                small#label__icon__error.error
              
                .form-action
                  label#sponsors(for='') Label Sponsors
                  br
                  textarea#label-sponsors.form-control.mb-3(name='labelsponsors' placeholder='Enter label Sponsors' cols='20' rows='3')
                small#label__sponsor__error.error
                .form-action
                  label#sponsors(for='') Artists Managed
                  br
                  textarea#artists-managed.form-control.mb-3(name='artistsmanaged' placeholder='Input artists managed' cols='20' rows='3')
                small#label__artists__error.error
                #button-form
                  input#submit-btn(type='submit' name='submit-button' value='SUBMIT')
                  input#cancel-btn(type='reset' name='cancel-button' value='CANCEL')
    script(src='/public/javascript/labelReg.js')

