doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')
  script(src='')
  link(rel='stylesheet' href='style.css')
  title Phillip Luswata
nav.navbar.navbar-expand-lg.bg-dark.jinx.py-3.fixed-top
  .container
    a#navbar__logo.navbar-brand(href='#') UGAAMUX
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
      span.navbar-toggler-icon
    #navmenu.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.text-warning(href='#Solo__artists') Solo Artists
        li.nav-item
          a.nav-link.text-warning(href='#Music__bands') Music Bands
        li.nav-item
          a.nav-link.text-warning(href='#Other__artists') Others
section.jinx.text-light.p-5.p-lg-0.pt-lg-5.mt-5.mb-5.text-center.text-sm-start
  .container
    .d-sm-flex.align-items-center.justify-content-between
      div
        h1
          span.text-warning Phillip Luswata
        p.lead.my-4
          | Philip Kafulam Luswata, is a practicing theatre artist and has been in the theatre and television industry for the past 20 years as a student, actor, teacher and writer. He was in Sundance, USA in 2004 and while there was inspired to write Nasty Good Story&rsquo; a play on the battle of getting through a creative piece. This play was produced twice at the Uganda National Theatre in May 2006. He has written for stage, television and feature films in Nairobi and Kampala and a key member of the production team of Uganda&rsquo;s Theatre Factory weekly comedy shows that went  on uninterrupted for six years till 2012.
      img.img-fluid.w-50.mb-5.d-none.d-sm-block(src='img/luswata.png' alt='')
