<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>MUSIC LABELS REGISTRATION FORM</title>
  </head>

  <body class="align-items-center">
    <nav class="navbar navbar-expand-lg bg-dark jinx py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand" id="navbar__logo">UGAAMUX</a>
      </div>
    </nav>

    <div class="row m-5 p-5 p-lg-0 pt-lg-5 align-items-center text-light jinx">
      <div class="col-md p-5  text-light">
        <div class="container jinx align-items-center">
          <form
            name="artistRegistrationForm"
            id="form-id"
            method="post"
            action="/artists__reg__form"
          >
            <div class="row mt-5 text-light">
              <div class="col-lg-4 border p-5 border-right-0">
                <div class="form-action">
                  <label for="" id="firstname">First Name</label>
                  <input
                    type="text"
                    name="firstName"
                    placeholder="Input artist's first Name "
                    class="form-control mb-3"
                    id="f__name"
                  />
                </div>
                <small class="error" id="first__name__error"></small>

                <div class="form-action">
                  <label for="" id="lastname">Last Name</label>
                  <input
                    type="text"
                    name="lastName"
                    placeholder="Input  artist's  Last Name "
                    class="form-control mb-3"
                    id="l__name"
                  />
                </div>
                <small class="error" id="last__name__error"></small>

                <div class="form-action">
                  <label for="" id="stgname">Stage Name</label><br />
                  <input
                    type="text"
                    name="stageName"
                    placeholder="Input artist's Stage name"
                    class="form-control mb-3"
                    id="stage__name"
                  />
                </div>
                <small class="error" id="stage__name__error"></small>

                <div class="form-action">
                  <label for="" id="artistID">Artist ID</label><br />
                  <input
                    type="text"
                    name="artistId"
                    placeholder="Input artist ID"
                    class="form-control mb-3"
                    id="artist__id"
                  />
                </div>
                <small class="error" id="artist__Id__error"> </small>

                <div class="form-action">
                  <label for="" id="telcontact">Telephone Contact</label><br />
                  <input
                    type="text"
                    placeholder="Input artist's phone number"
                    name="telephoneContact"
                    class="form-control mb-3"
                    id="telephone__contact"
                  />
                </div>
                <small class="error" id="phone__number__error"> </small>

                <div class="form-action">
                  <label for="" id="socialcontact">Twitter Handle</label><br />
                  <input
                    type="text"
                    placeholder="Input artist twitter handle"
                    name="twitterHandle "
                    class="form-control mb-3"
                    id="twitter-contact"
                  />
                </div>
                <small class="error" id="artist__twitter__error"> </small>
              </div>

              <div class="col-lg-4 p-5 form-action border">
                <div class="form-action">
                  <label for="" id="contact">Email </label><br />
                  <input
                    type="text"
                    placeholder="Input artist's Email"
                    name="email"
                    id="email-contact"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__email__error"></small>

                <div class="form-action">
                  <label for="" id="DOB">Date of birth</label><br />
                  <input
                    max="2017-12-31"
                    type="date"
                    name="artistDob"
                    id="dob-id"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__dob__error"></small>

                <div class="form-action">
                  <label for="" id="based">Based in</label><br />
                  <input
                    type="text"
                    name="districtBasedIn"
                    id="based"
                    placeholder="Input the district that the artist is based"
                    class="mb-3 form-control"
                  />
                </div>
                <small class="error" id="district__based__in__error"></small>
                <div class="form-action">
                  <label for="" id="nin">National ID NIN</label><br />
                  <input
                    type="text"
                    name="nationaldNumber"
                    id="NIN-id"
                    placeholder="Input artist's  NIN"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__nin__error"></small>

                <div class="form-action">
                  <label for="" id="date-started">Date Began Music</label><br />
                  <input
                    type="date"
                    name="dateOfStart"
                    id="date-started"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="date__of__start__error"></small>

                <div class="form-action">
                  <label for="" id="location">Location</label><br />
                  <input
                    type="text"
                    name="location"
                    placeholder="Input artist's location"
                    id="location"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__location__error"></small>
              </div>

              <div class="col-lg-4 p-5 form-action border">
                <div class="form-action">
                  <label for="" id="numofalbums">Number of Albums</label><br />
                  <input
                    type="number"
                    id="numalbums"
                    name="numberOfAlbums"
                    placeholder="Input artist's number of albums"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="number__of__albums__error"></small>
                <div class="form-action">
                  <label for="" id="numofsongs">Number of Songs</label><br />
                  <input
                    type="number"
                    id="numberOfSongs"
                    name="numberOfSongs"
                    class="form-control mb-3"
                    placeholder="Input artist's number of songs"
                  />
                </div>
                <small class="error" id="number__of__songs__error"></small>
                <div class="form-action">
                  <label for="" id="genre">Genre</label><br />
                  <input
                    type="text"
                    placeholder="Input artist Genre"
                    id="music-type"
                    name="genre"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__genre__error"></small>

                <p id="pgender">Gender</p>
                <div id="gender-form">
                  <span
                    ><label for="smale" id="fmale">Male</label>
                    <input
                      type="radio"
                      name="gender"
                      value="male"
                      id="smale"
                      class="mb-3"
                  /></span>
                  <span
                    ><label for="sfemale" id="fmale">Female</label>
                    <input
                      type="radio"
                      name="gender"
                      value="female"
                      class="mb-3"
                      id="sfemale"
                  /></span>
                </div>
                <small class="error" id="artist__gender__error"></small>

                <div class="form-action">
                  <label for="" id="profile-photo">Profile Picture</label><br />
                  <input
                    id="artiste-image"
                    type="file"
                    name="uploadPicture"
                    id="profile-pic"
                    class="form-control mb-3"
                  />
                </div>
                <small class="error" id="artist__picture__error"></small>
                <div id="button-form">
                  <input
                    id="submit-btn"
                    type="submit"
                    name="submit-button"
                    value="SUBMIT"
                  />
                  <input
                    id="cancel-btn"
                    type="reset"
                    name="cancel-button"
                    value="CANCEL"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
 <script src="/public/javascript/artistsReg.js"></script>
  </body>
  <footer class="p-5 jinx text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2021 Ugaamux</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle h1"></i>
      </a>
    </div>
  </footer>
</html>
