doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')
  script(src='')
  link(rel='stylesheet' href='style.css')
  title Natasha
nav.navbar.navbar-expand-lg.bg-dark.jinx.py-3.fixed-top
  .container
    a#navbar__logo.navbar-brand(href='#') UGAAMUX
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
      span.navbar-toggler-icon
    #navmenu.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.text-warning(href='#Solo__artists') Solo Artists
        li.nav-item
          a.nav-link.text-warning(href='#Music__bands') Music Bands
        li.nav-item
          a.nav-link.text-warning(href='#Other__artists') Others
section.jinx.text-light.p-5.p-lg-0.pt-lg-5.mt-5.mb-5.text-center.text-sm-start
  .container
    .d-sm-flex.align-items-center.justify-content-between
      div
        h1
          span.text-warning Natasha Sinayobye
        p.lead.my-4
          | Natasha Sinayobye is a woman of many outstanding talents. She  is an actress, singer, dancer and a model. Her interest for entertainment which is well depicted in her titles has seen her also venture keenly on the film industry where she is gradually making an impact with her creative and diverse acting skills. Her debut was well received as she remarkably played the lead role Maggie in the award winning film &lsquo;Bala Bala Sese&rsquo;. Natasha is also famously known for her role in &lsquo;Beneath The Lies&rsquo; a series that airs on Urban Tv where she exhibits her prowess as an actress in the role of Keitesi Muyana. Her star continues to shine and we hope to see amazing upcoming projects form her.
      img.img-fluid.w-50.mb-5.d-none.d-sm-block(src='img/natasha.png' alt='')
