<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src=""></script>
    <link rel="stylesheet" href="style.css" />
    <title>Bands</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark jinx py-3 fixed-top">
    <div class="container">
      <a href="/bands" class="navbar-brand " id="navbar__logo">UGAAMUX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a href="/Solo__artists" class="nav-link text-warning">Solo Artists</a>
          </li>
          <li class="nav-item">
            <a href="/Music__bands" class="nav-link text-warning">Music Bands</a>
          </li>
          <li class="nav-item">
            <a href="/Performing__artists" class="nav-link text-warning">Others</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="#Other__artists" class="p-5 jinx">
    <div class="container">
      <h2 class="text-center heading">Documentary directors</h2>
      <p class="lead text-center text-white mb-5">
        Documentary directors from the pearl
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="fahad.html">
              <img
                src="img/fahad.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light"> Ssimbwa Fahad</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <a href="shafic.html">
            <div class="card-body text-center">
              <img
                src="img/shafiq.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light"> Sserwadda Shafic</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="gwaro.html">
              <img
                src="img/gwaro.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Anthony Gwaro</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="martin.html">
              <img
                src="img/martin.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Martin Kharumwa</h3>
             
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <section id="#Other__artists" class="p-5 jinx">
    <div class="container">
      <h2 class="text-center heading">Dramatists</h2>
      <p class="lead text-center text-white mb-5">
        Actors from the pearl
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="cleopatra.html">
              <img
                src="img/cleopatra.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Cleopatra Koheirwe</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="patriick.html">
              <img
                src="img/eric.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Patrick Ssenjovu</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="luswata.html">
              <img
                src="img/luswata.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Philip Luswata</h3>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card special__card">
            <div class="card-body text-center">
              <a href="natasha.html">
              <img
                src="img/natasha.png"
                class="img-fluid mb-3"
                alt=""
              /></a>
              <h3 class="card-title mb-3 text-light">Natasha Sinayobye</h3>
             
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>

  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
 
  </script>
  
</body>
</html>