<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src=""></script>
    <link rel="stylesheet" href="style.css" />
    <title>Shafic</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark jinx py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand " id="navbar__logo">UGAAMUX</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a href="#Solo__artists" class="nav-link text-warning">Solo Artists</a>
          </li>
          <li class="nav-item">
            <a href="#Music__bands" class="nav-link text-warning">Music Bands</a>
          </li>
          <li class="nav-item">
            <a href="#Other__artists" class="nav-link text-warning">Others</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <section
    class="jinx text-light p-5 p-lg-0 pt-lg-5 mt-5 mb-5 text-center text-sm-start"
  >
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1> <span class="text-warning"> Sserwadda Shafiq</span></h1>
          <p class="lead my-4">
            Am a cinematographer , drone pilot , editor ,fixer,documentary film maker and TVCommercials as well as film.
I have been doing this with 9 years of experience .
I have worked on sereval projects including French Montana unforgettable video shoot as a drone pilot among others.

          </p>
     
        </div>
        <img
          class="img-fluid w-50 mb-5 d-none d-sm-block"
          src="img/shafiq.png"
          alt=""
        />
      </div>
      
    </div>
  </section>
 
</body>
</html>