body::before {
  display: block;
  content: '';
  height: 60px;
  
}
body{
  background: #000000;
  background: linear-gradient(to right, #010608, #110d1d);
  font-family: 'Montserrat', sans-serif;
}
.jinx{
  background: #000000;
  background: linear-gradient(to right, #010608, #110d1d);
 
}

#header {
  background-color: #ff8177;
  background: linear-gradient(to right, #010608, #110d1d);
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.472);
  padding: 12px 0;
}
#header.header-inner-pages {
  box-shadow: 0px 2px 15px rgba(16, 219, 209, 0.1);
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fffb24 0%, #ff5420 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  
}
#header .logo a {
  color: #ff8177;
}
#header .logo img {
  max-height: 40px;
}
.navbar {
  padding: 0;
  
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;

}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #00f5e0;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #7612f8;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  background: #000000;
  background: linear-gradient(to right, #010608, #110d1d);
  
} 
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #d9232d;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #556270;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(63, 73, 83, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #556270;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #d9232d;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #d9232d;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.special__card{
  background: #9dda2dbd;
  background: linear-gradient(to right, #1b101b5d, #0c333f5e);
}
.special__card__1{
 
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}
.special__card__1:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(255, 255, 255, 0.801), 0 4px 8px rgb(0, 255, 234);
}



.card{
  
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(255, 255, 255, 0.801), 0 4px 8px rgb(0, 255, 234);
}
iframe{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}
iframe:hover{
  
}
.heading{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fffb24 0%, #ff5420 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.panel {
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem 2rem;
  
  }
  .panel-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem; 
  
  }
    .panel-head .title {
      font-size: 1.4rem;
      text-transform: none;
      font-weight: 300;
      color: #475166;
      margin: 0;
      }
  
  .panel-body {
    margin-bottom: 1rem;
    }
    
  .action {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
  
  }
  
  /* Delete Icon */
  .remove{
  font-size: 1.5rem; 
  color: #ec5564; 
  padding:8px;
  margin-left:4px;
  align-self: center;
  }
  
  /* Delete Icon on Hover */
  .remove:hover {
    color: #c51627;
  
  }
  
  /* Update Icon */
  .edit {
  color: #f5ba45;
  padding:5px;
  align-self: center;
  }
  .edit:hover {
    color: #c9890b; 
  }
  
  /* Table Properties */
  table {
  width: 100%;
  border-collapse: collapse; 
  margin:20px 2px;
  
  }
  
  /* Border properties of table rows */
  tr:not(:last-child) {
  border-bottom: 1px solid #ebebee;
  
  }
  
  /* Table data and Table head properties */
  th,
  td {
  padding: 0.6rem;
  text-align: left;
  font-size: 18px; 
  border:1px solid rgba(220, 220, 220, 0.349);
  }
  
  /* Table head color */
  th {
  color: #000000;
  background-color: rgba(217, 235, 241, 0.815);
  text-align: center;
  }
  
  /* Table data color and font configurations */
  td {
  color: #475166;
  font-weight:100;
  
  }
  
  /* Field color alternation in the table */
  .zebra tr:nth-child(even) {
  background-color: #f5f6f8;
  
  }



