body::before {
  display: block;
  content: '';
  height: 60px;
  
}
body{
  background: #000000;
  background: linear-gradient(to right, #010608, #110d1d);
}
.jinx{
  background: #000000;
  background: linear-gradient(to right, #010608, #110d1d);
 
}
#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fffb24 0%, #ff5420 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.special__card{
  background: #9dda2dbd;
  background: linear-gradient(to right, #1b101b5d, #0c333f5e);
}
.special__card__1{
 
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}
.special__card__1:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(255, 255, 255, 0.801), 0 4px 8px rgb(0, 255, 234);
}



.card{
  
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(255, 255, 255, 0.801), 0 4px 8px rgb(0, 255, 234);
}
iframe{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}
iframe:hover{
  
}
.heading{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #fffb24 0%, #ff5420 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.panel {
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem 2rem;
  
  }
  .panel-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem; 
  
  }
    .panel-head .title {
      font-size: 1.4rem;
      text-transform: none;
      font-weight: 300;
      color: #475166;
      margin: 0;
      }
  
  .panel-body {
    margin-bottom: 1rem;
    }
    
  .action {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
  
  }
  
  /* Delete Icon */
  .remove{
  font-size: 1.5rem; 
  color: #ec5564; 
  padding:8px;
  margin-left:4px;
  align-self: center;
  }
  
  /* Delete Icon on Hover */
  .remove:hover {
    color: #c51627;
  
  }
  
  /* Update Icon */
  .edit {
  color: #f5ba45;
  padding:5px;
  align-self: center;
  }
  .edit:hover {
    color: #c9890b; 
  }
  
  /* Table Properties */
  table {
  width: 100%;
  border-collapse: collapse; 
  margin:20px 2px;
  
  }
  
  /* Border properties of table rows */
  tr:not(:last-child) {
  border-bottom: 1px solid #ebebee;
  
  }
  
  /* Table data and Table head properties */
  th,
  td {
  padding: 0.6rem;
  text-align: left;
  font-size: 18px; 
  border:1px solid rgba(220, 220, 220, 0.349);
  }
  
  /* Table head color */
  th {
  color: #000000;
  background-color: rgba(217, 235, 241, 0.815);
  text-align: center;
  }
  
  /* Table data color and font configurations */
  td {
  color: #475166;
  font-weight:100;
  
  }
  
  /* Field color alternation in the table */
  .zebra tr:nth-child(even) {
  background-color: #f5f6f8;
  
  }



